@media (max-width: 1099px) {
  .footerUl ul li a,
  .footerCopyRight p,
  .socialPart p {
    font-size: 13px;
  }
  .footerUl ul li a {
    margin: 0 7px 0 0;
    padding: 0 7px 0 0;
  }
  .NavBtn a,
  .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  body {
    height: auto;
  }
  .RegForm {
    display: block;
  }
  .socialPart {
    margin-top: 20px;
  }
  .RegFormInner {
    margin: 50px auto;
  }
  .footerUl ul {
    justify-content: center;
  }
  .footerCopyRight {
    text-align: center;
  }
  h1.logo img {
    width: 160px;
  }
  .RegHeading h2 {
    font-size: 34px;
  }
  .formInner input {
    padding: 10px;
  }
  .submitBtn {
    max-width: 180px;
  }
  .offcanvas {
    padding: 30px;
  }
  .navbar-light .navbar-nav .nav-link {
    text-align: left;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc80;
  }
  .navbar-light .navbar-nav .nav-item:last-child .nav-link {
    border: none;
  }
  .BtnGrp {
    flex-direction: column;
    align-items: end;
    margin: 20px 0 0 0;
  }
  .NavBtn:last-child {
    margin: 10px 0 0 0;
  }
  .NavBtn {
    width: 100%;
  }
  .NavBtn a {
    justify-content: center;
  }
  .navbar-light .navbar-nav .nav-item:before {
    right: 0;
    transform: translate(0);
    left: auto;
  }
}
@media (max-width: 576px) {
  .RegHeading h2 {
    font-size: 28px;
  }
}
@media (max-width: 459px) {
  .rememberDiv {
    flex-wrap: wrap;
  }
  .forgot {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 360px) {
  .RegHeading h2 {
    font-size: 26px;
    text-align: center;
  }
  h1.logo img {
    width: 120px;
  }
}
