te {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/bodyBackground.png) center center no-repeat;
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  height: 100vh;
}

/* ============ header css =========== */
header {
  background-color: #fff;
  box-shadow: 0px 3px 50px #2a56af2e;
}
.logo {
  margin-bottom: 0;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 16px !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6420;
}
.BtnGrp {
  display: flex;
  align-items: center;
}
.NavBtn:last-child {
  margin: 0 0 0 20px;
}
.NavBtn {
  border: 1px solid #ff6420;
  padding: 10px 22px;
  border-radius: 8px;
  transition: all 0.3s;
}
.NavBtn a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.NavBtn a svg {
  margin: 0 0 0 5px;
}
.NavBtn.RegBtn a {
  color: #ff6420;
}
.NavBtn.RegBtn:hover {
  background-color: #ff6420;
}
.NavBtn.RegBtn:hover a {
  color: #fff;
}
.oranageBtn {
  background-color: #ff6420;
  border: 1px solid #ff6420;
  transition: all 0.3s;
}
.oranageBtn a {
  color: #fff;
}
.oranageBtn:hover {
  background-color: transparent;
}
.oranageBtn:hover a {
  color: #ff6420;
}

/* ============== Registration form css ============ */
.RegForm {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 50px; /* dev-l changed */
  margin-bottom: 50px; /* dev-l changed */
}
.RegFormInner {
  background-color: #fff;
  padding: 35px 50px;
  border-radius: 21px;
  border: 1px solid #75899566;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 6px 6px 26px #0b2a3e29;
}
.loginPage {
  max-width: 544px;
}
.RegHeading h2 {
  font-size: 38px;
  color: #002581;
  font-weight: 700;
  margin: 0;
}
.mainRegForm {
  margin-top: 30px;
}
.formInner label {
  display: block;
  color: #000000;
  font-weight: 500;
}
.formInner input {
  padding: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  width: 100%;
  margin: 5px 0 0 0;
}
::placeholder {
  color: #a8a8a8;
}
.submitBtn {
  color: #fff;
  font-size: 18px;
  margin-top: 45px !important;
  max-width: 220px;
}
.submitBtn:hover {
  color: #ff6420;
  border: 1px solid #ff6420;
}
p.newAccont {
  margin: 30px 0 0 0;
  text-align: center;
}
p.newAccont a {
  text-decoration: none;
  color: #ff6420;
  font-weight: 600;
  transition: all 0.3s;
}
p.newAccont a:hover {
  color: #0d47a1;
}
.some {
  padding: 50px;
  display: block;
}

/* ============== footer css ============== */
footer {
  background-color: #0d47a1; /* margin: 50px 0 0 0; */
  padding: 20px 0;
}
.footerUl ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footerUl ul li a {
  text-decoration: none;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  position: relative;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s;
}
.footerUl ul li a:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 15px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footerUl ul li:last-child a::before {
  display: none;
}
.footerUl ul li:last-child a {
  margin: 0;
  padding: 0;
}
.footerUl ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.footerUl ul li a {
  text-decoration: none;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  position: relative;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s;
}
.footerUl ul li a:hover {
  color: #ff6420;
}
.footerUl ul li a:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 15px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footerUl ul li:last-child a::before {
  display: none;
}
.footerUl ul li:last-child a {
  margin: 0;
  padding: 0;
}
.footerCopyRight p {
  color: #fff;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.socialUl ul {
  margin: 0 0 0 20px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.socialPart p {
  color: #fff;
  margin: 0;
}
.socialUl ul li a {
  padding: 0 0 0 10px;
  color: #fff;
  transition: all 0.3s;
}
.socialUl ul li a:hover {
  color: #ff6420;
}

/* ============= login page Css ============== */
.remember {
  display: flex;
  align-items: center;
}
.rememberDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember #remember {
  width: 15px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.remember label {
  color: #0d47a1;
}
.forgot a {
  text-decoration: none;
  color: #ff6420;
  transition: all 0.3s;
}
.orLine {
  border-top: 1px solid #ccc;
  position: relative;
}
.orLine:before {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWith {
  text-align: center;
  margin: 20px 0 0 0;
}
.loginOption a {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border-radius: 50%;
  text-decoration: none;
}
.loginOption {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.loginOption a:first-child {
  margin: 0 40px 0 0;
}
.logInBtn {
  color: #fff;
  border: 1px solid #ff6420;
}
.logInBtn:hover {
  color: #ff6420;
  border: 1px solid #ff6420;
}
.botIcon {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.loginOption a:hover {
  box-shadow: 0px 0px 8px #00000060;
}
.navbar-light .navbar-nav .nav-item {
  position: relative;
}
.navbar-light .navbar-nav .nav-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ff6420;
  transition: all 0.3s;
}
.navbar-light .navbar-nav .nav-item:hover:before {
  width: 70px;
}
.forgot a:hover {
  color: #0d47a1;
}
.offcanvas {
  max-width: 320px;
}
